@import url("https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --black: #181818;
  --accent: #f9d88b;
  --silver: #bdbdbd;
  --silver-dark: #818181;
  --white: #faf8f6;
  --elegant-white: #ededed;
  --elegant-white-dark: #bcbcbc;
  --gray: #222222;
}

@theme inline {
  --color-black: var(--black);
  --color-accent: var(--accent);
  --color-silver: var(--silver);
  --color-white: var(--white);
  --color-ewhite: var(--elegant-white);
  --color-ewhite-dark: var(--elegant-white-dark);
  --color-gray: var(--gray);
  --color-silver-dark: var(--silver-dark);
  --font-sans: "Manjari", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

body {
  background: var(--black);
  color: var(--white);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
}

.text-outline {
  color: transparent;
  -webkit-text-stroke: 1px var(--white); /* kolor i grubość obrysu */
  text-stroke: 1px var(--white);
}
